* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin: 0;
  font-family: 'Times New Roman';
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: orangered;
}

img,
video {
  max-width: 100%;
  width: 100%;
  height: auto;
}

h1 {
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

h2 {
  font-size: clamp(1rem, 3.8vw, 2rem);
}

h3 {
  font-size: clamp(0.75rem, 3.6vw, 1.5rem);
}

p,
li {
  font-size: clamp(0.75rem, 3.5vw, 1.35rem);
}

ul {
  margin-top: 0;
}

code {
  font-size: clamp(0.75rem, 3.5vw, 1.2rem);
  font-family: 'Courier New', monospace;
}

.katex {
  font-size: clamp(0.75rem, 3.5vw, 1.2rem);
}
