* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin: 0;
  font-family: 'Times New Roman';
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: orangered;
}

img,
video {
  max-width: 100%;
  width: 100%;
  height: auto;
}