* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin: 0;
  font-family: 'Times New Roman';
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: orangered;
}

img,
video {
  max-width: 100%;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

p,
li {
  font-size: 1.125rem;
}

ul {
  margin-top: 0;
}

code {
  font-size: 1.125rem;
  font-family: 'Courier New', monospace;
}

.katex {
  font-size: 1.125rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1rem;
  }
  p,
  li,
  code,
  .katex {
    font-size: 1rem;
  }
}
