* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: orangered;
}

.text {
  font-size: clamp(1.125rem, 4vw, 1.75rem);
}

img,
video {
  max-width: 100%;
  width: 100%;
  height: auto;
}
