body {
  background-color: antiquewhite;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: orangered;
}

.text {
  font-size: min(2vh, 2vw);
}